<p class="fw-bold">login works!</p>
<div class="container">
    <h2 class="">Login</h2>
    <hr>
    <form >
        <div class="form-group mb-2">
  
            <label for="name">Username</label> <br>
            <input type="text" required>
            
        </div>
        <div class="form-group mt-3">
            <label for="complete">Password</label> <br>
            <input type='text'  required>
  
        </div>
        <div class="mt-4">
              <p>Dont have an account ?? <br><a href="/signup">Signup</a></p>
        </div>
        <button type="submit" class="btn btn-lg btn-success mt-1">Login</button>
    </form>
  </div>

